@model IEnumerable<Traveler.Models.Customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/ViewPage1.cshtml";
}

<h2>Quản lý người dùng</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AvatarImage)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PhoneNumber)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Password)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AvatarImage)
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.ID })
    </td>
    <td>
        @using (Html.BeginForm("Delete", "AccoutManage", new { id = item.ID }, FormMethod.Post, new { onsubmit = "return confirm('Bạn có chắc muốn xóa người dùng này không?');" }))
        {
            <input type="submit" value="Xóa" class="btn btn-danger" />
        }
    </td>
</tr>
    }

</table>